.place__title {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
