.intro__list {
    width: 100%;
    min-height: 90px;
    margin: 0;
    padding-left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    list-style-type: none;
}
