.header {
  width: 100%;
  margin-bottom: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .header {
    margin-bottom: 48px;
    padding: 0 48px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 319px) {
  .header {
    padding: 0 16px;
  }
}
