.place__paragraph {
  width: 100%;
  margin-bottom: 26px;
  margin-left: 0;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  box-sizing: border-box;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 25px;
    font-size: 16px;
  }
}
