.place__website {
  align-self: end;
  width: 100%;
  max-width: 456px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 288px;
  }
}
